.table {
  display: inline-table;
}
.table-header, .table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding-right: 0.5em;
}
form input[type="checkbox"] {
  max-width: 100%!important;
}
#email-table {
  width: auto;
}
#email-table td {
  padding-right: 0.5em;
}
