form input[type="checkbox"] {
  max-width: 100%!important;
}
#email-table {
  width: auto;
}
#email-table td {
  padding-right: 0.5em;
}

.recipient-list .header, .recipient-list .recipient {
  float: left;
  clear: both;
}
.recipient-list .header {
  font-weight: bold;
}
.recipient-group {
  max-height: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: vertical;
}
.col {
  display: inline-block;
  float: left;
}
.col.to {
  width: 2em;
}
.col.cc {
  width: 2em;
}
.col.bcc {
  width: 3em;
}
.col.name {
  width: 15em;
}
.col.email {
  width: auto;
}
